
<div class=login>
  
  <% if flash[:error] %>
  <!-- print out any error message for the user -->
  <br>
  <strong><%= flash[:error] %></strong>
  <br>
  <br>
  <% end %>


  <%= form_tag login_path do %>

  <%= label_tag :email %>
  <%= email_field_tag :email %>
  <br>
  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag 'Login' %>

  <% end %>
</div>
