<div class="bug_container">

<%= form_for @user do |f| %>
<table class="bug_form">

<tr>
  <td class="project_labels"><%= f.label :name %></td>
  <td class="project_labels_box"><%= f.text_field :name %></td>
</tr>
<tr>
  <td class="project_labels"><%= f.label :email %></td>
  <td class="project_labels_box"><%= f.email_field :email %></td>
</tr>
<tr>
  <td class="project_labels"><%= f.label :password %></td>
  <td class="project_labels_box"><%= f.password_field :password %></td>
</tr>

<tr>
  <td class="project_labels"><%= f.label :password_confirmation %></td>
  <td class="project_labels_box"><%= f.password_field :password_confirmation %></td>
</tr>
<tr>
  <td></td>
  <td class="bug_button"><%= f.submit  %></td>
</tr>
</table>

 <% end %>
 </div>
