<h2>
<%= @project.name %>
</h2>

<%= link_to 'All Projects', projects_path %>
|
<%= link_to 'Edit Project', edit_project_path(@project.id) %>
|
<%= link_to 'Delete Project', project_path(@project.id), method: 'delete' %>
|
<%= link_to 'All Bugs', bugs_path %>
|
<%= link_to "Add Bug", new_bug_path(project_id: @project.id) %>

<p><strong>Priority</strong>: <%= @project.priority  %></p>
  <p><strong>Assigned to</strong>: <%= @project.to  %></p>
  <p><strong>Frontend</strong>: <%= @project.frontend  %></p>
  <p><strong>Backend</strong>: <%= @project.backend  %></p>
  <p><strong>Customer</strong>: <%= @project.customer  %></p>

<h2>Project Team members</h2>

  <ul>
    <% if @project.users.present?  %>
      <% @project.users.each do |user| %>
      <li>
        <%= user.name %>
      </li>
        <% end %>
    <% end %>
  </ul>


<h2>Project's Bugs</h2>

<ul>
  <% if @project.bugs.present?  %>
    <% @project.bugs.each do |bug| %>
        <li>
          <%= link_to bug.name, bug_path(bug.id) %>

            <% if bug.project.users.includes @current_user || @current_user.admin? %>

            <%= link_to "Edit", edit_bug_path(bug.id) %>
            |
            <%= link_to 'Delete', bug_path(bug.id), method: 'delete' %>
            <% end %>
        </li>
    <% end %>

  <% else %>
      <p>This project has no bugs.</p>
  <% end %>
</ul>
