
<%= form_for @bug do |f| %>

<%= f.hidden_field :project_id %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br />
  <%= f.label :priority %>
  <%= f.select :priority,['Low','Medium','High'] %>
  <br />
  
  <%= f.label :to, 'Assigned to' %>
  <select name="bug[user_id]" id="">
    <% @bug.project.users.each do |user| %>
    <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select>

  <%= f.label :status %>
  <%= f.text_field :status %>
  <br />
  <%= f.label :start_date %>
  <%= f.date_field :start_date %>
  <br />

  <%= f.label :due_date %>
  <%= f.date_field :due_date %>
  <br />

  <br />




  <br />
  <br />

  <%= f.submit  %>
<% end  %>
