<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BugTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="background"></div>

    <h1>Bug Tracker</h1>

    <header>

      <nav>
      <span class="home"><%= link_to 'Home', root_path %></span>
      <% if @current_user.present? && @current_user.admin %>

        <span class="userShowOne">
          <%= link_to 'All Users', users_path %>
        </span>
      <% end  %>

      <% if @current_user.present? %>
        <span class="project_links">
        <span class="userShowTwo">
        <%= link_to 'All Projects', projects_path  %>
        </span>

        <span class="userShowThree">
        <%= link_to 'Add Project', new_project_path  %>
        </span>
        </span>

      <% end  %>

      <span class="loginContainer">
        <span class="loginSpaceOne">
          <% if @current_user.present? %>
            Welcome, <%= @current_user.name %>

          <% if @current_user.admin? %>
             (admin)

          <% end  %>
        </span>
            <%= link_to 'Logout', login_path, method: 'delete' %>
          <% else %>
            <span class="loginSpaceTwo">
              <%= link_to 'Login', login_path %>
            </span>
            <%= link_to 'Sign Up', new_user_path %>
          <% end %>
      </nav>
      </span>
      <br>

    <hr>

    </header>

    <%= yield %>
    <footer>
      <br>
      <hr>
      <br>
      &copy Bug Solution 2020
    </footer>
  </body>
</html>
